<html layout:decorator="public/form" xmlns:miguo="http://www.w3.org/1999/html">
<div layout:fragment="content">
	<form class="layui-form model-form" action="" >
		<input name="id" type="hidden" th:value="${info['id']}?:0">
		<input name="custId" type="hidden" th:value="${info['custId']}">
		<!--<div class="layui-form-item">
			<label class="layui-form-label">客户id：</label>
			<div class="layui-input-block">
				<input hidden name="custId" th:value="${info['custId']}" lay-verify="required|number" autocomplete="off" placeholder="请输入客户id" class="layui-input" type="text">
			</div>
		</div>-->
		<div class="layui-form-item">
			<label class="layui-form-label">沟通时间<font color="red">*</font>：</label>
			<div class="layui-input-block">
				<widget:dateSelect name="gtTime|沟通时间|datetime|||1" th:value="${#dates.format(info['gtTime'], 'yyyy-MM-dd HH:mm:ss')}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">下次沟通时间：</label>
			<div class="layui-input-inline">
				<widget:dateSelect name="interactTime|下次沟通时间|date" th:value="${#dates.format(info['interactTime'], 'yyyy-MM-dd')}"/>
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">回复标志<font color="red">*</font>：</label>
			<div class="layui-input-inline">
				<widget:singleSelect name="replyFlag|1|回复标志|name|id" data="1=未回复,2=已回复" th:value="${info['replyFlag']}?:0"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">沟通内容<font color="red">*</font>：</label>
			<div class="layui-input-block">
				<textarea name="gtDesc" style="width: 400px;" lay-verify="required" placeholder="请输入沟通内容" class="layui-textarea" th:text="${info['gtDesc']}"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">下次沟通内容：</label>
			<div class="layui-input-block">
				<textarea name="interactDesc" style="width: 400px;" placeholder="请输入下次沟通内容" class="layui-textarea" th:text="${info['interactDesc']}"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
				<textarea name="remark" style="width: 400px;" placeholder="请输入备注" class="layui-textarea" th:text="${info['remark']}"></textarea>
			</div>
		</div>
		<widget:btnSubmit name="submit|立即保存,close|关闭"/>
	</form>
</div>
</html>